# Pandas - Series

In [2]:
import numpy as np
import pandas as pd

- Series 생성

In [3]:
s = pd.Series(
    [9904312, 3448737, 2890451, 2466052],
    index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:
s[0], s["서울"]

(9904312, 9904312)

In [5]:
s[1:3]

부산    3448737
인천    2890451
dtype: int64

In [6]:
s['서울' : '인천']

서울    9904312
부산    3448737
인천    2890451
dtype: int64

In [8]:
s[ s > 3000000] # boolean indexing

서울    9904312
부산    3448737
dtype: int64

In [9]:
d = s / 1000000
d

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

In [10]:
cities = {"서울" : 9631482, "부산" : 3393191, "인천" : 2632035, "대전" : 1490158}
s2 = pd.Series(cities)
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [11]:
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

- 시리즈 속성

In [12]:
s.values    # numpy array

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [13]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [14]:
for city in s.index:
    print(city)

서울
부산
인천
대구